---
import IconLink from "./ui/IconLink.astro";

interface Props extends ProjectFrontmatter {}

const { title, description, techStack, githubUrl, websiteUrl } = Astro.props;
---

<article>
    <div class="inner-card">
        <div class="content">
            <h1>{title}</h1>
            <p>{description}</p>
            <div class="tech-stack">
                <p>Tech stack:</p>
                <ul class="tech-stack-list">
                    {
                        Array.isArray(techStack) ? (
                            techStack.map((tech) => <li>{tech}</li>)
                        ) : (
                            <li>{techStack}</li>
                        )
                    }
                </ul>
            </div>
        </div>
        <div class="links">
            {
                githubUrl && (
                    <IconLink platform="github" url={githubUrl} size="small" />
                )
            }
            {
                websiteUrl && (
                    <a
                        href={websiteUrl}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="project-link"
                        aria-label={`Visit website for ${title}`}
                    >
                        Visit website
                        <svg
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M 9,6 S 15,10.4 15,12 S 15,13.6 9,18 "
                            />
                        </svg>
                    </a>
                )
            }
        </div>
    </div>
</article>

<style>
    article {
        display: block;
        width: 95%;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #b6d494;
        max-width: 1000px;
        transition:
            box-shadow 0.3s ease,
            transform 0.3s ease;
        &:hover,
        &:focus-within {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transform: scale(1.02);
            transition:
                box-shadow 0.3s ease,
                transform 0.3s ease;
        }
    }

    .inner-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 0.5rem;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        gap: 0.5rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .tech-stack-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
        & li {
            background: rgba(0, 0, 0, 0.1);
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            font-size: 0.9rem;
        }
    }

    .tech-stack p {
        margin-bottom: 0.25rem;
        width: fit-content;
        text-wrap: nowrap;
        font-weight: bold;
    }

    .links {
        margin-top: 1rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .project-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        font-size: 0.9rem;
        font-weight: bold;
        &:hover {
            transform: translateY(-2px);
            text-decoration: underline;
        }
    }

    @media screen and (min-width: 768px) {
        .inner-card {
            padding: 1rem;
        }
        .content {
            padding: 1rem;
            gap: 1rem;
        }
        .tech-stack p {
            margin-bottom: 0.5rem;
        }
    }
</style>
